Feature Engineering

In [3]:
CLEAND_BOOKS = r'..\..\data\processed\cleaned_books.csv'
CLEAND_Rating = r'..\..\data\processed\cleaned_Rating.csv'
CLEAND_Users = r'..\..\data\processed\cleaned_users.csv'

FINAL_DF = r'..\..\data\processed\For content base\Final_content_base.csv'

### Importing

In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
books_df = pd.read_csv(CLEAND_BOOKS)
rating_df = pd.read_csv(CLEAND_Rating)
users_df = pd.read_csv(CLEAND_Users)

In [11]:
books_df

,ISBN,Title,Author,Publication_year,Publisher,Book_image
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...
237426,0449906736,Flashpoints: Promise and Peril in a New World,Robin Wright,1993,Ballantine Books,http://images.amazon.com/images/P/0449906736.0...
237427,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...
237428,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...
237429,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...
237430,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...

In [14]:
rating_df

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

get average and number of rating for each book , so we can measure the book popularity in our rank based recommendation system

In [17]:
avg_books_rating = rating_df.groupby(
    'ISBN')['Book-Rating'].mean().reset_index()

In [19]:
avg_books_rating

               ISBN  Book-Rating
0        0330299891          3.0
1        0375404120          1.5
2        0586045007          0.0
3        9022906116          3.5
4        9032803328          0.0
...             ...          ...
340551     cn113107          0.0
340552   ooo7156103          7.0
340553   Â§423350229          0.0
340554  Â´3499128624          8.0
340555    Ã”Â½crosoft          7.0

[340556 rows x 2 columns]

In [21]:
avg_books_rating['Rating_count'] = rating_df.groupby(
    'ISBN')['Book-Rating'].count().reset_index()['Book-Rating']

In [23]:
avg_books_rating = avg_books_rating.rename(columns={
    'Book-Rating': 'Avg_rating'
})

Now we will merge that with books df

In [26]:
books_df = books_df.merge(avg_books_rating, on='ISBN')

In [28]:
books_df.sort_values(by='Rating_count', ascending=False)

,ISBN,Title,Author,Publication_year,Publisher,Book_image,Avg_rating,Rating_count
26,0971880107,Wild Animus,Rich Shapero,2004,Too Far,http://images.amazon.com/images/P/0971880107.0...,1.019584,2502
399,0316666343,The Lovely Bones: A Novel,Alice Sebold,2002,"Little, Brown",http://images.amazon.com/images/P/0316666343.0...,4.468726,1295
724,0385504209,The Da Vinci Code,Dan Brown,2003,Doubleday,http://images.amazon.com/images/P/0385504209.0...,4.652322,883
1065,0060928336,Divine Secrets of the Ya-Ya Sisterhood: A Novel,Rebecca Wells,1997,Perennial,http://images.amazon.com/images/P/0060928336.0...,3.448087,732
511,0312195516,The Red Tent (Bestselling Backlist),Anita Diamant,1998,Picador USA,http://images.amazon.com/images/P/0312195516.0...,4.334716,723
...,...,...,...,...,...,...,...,...
128455,0761913130,Communication Planning : An Integrated Approac...,Sherry Devereaux Ferguson,1999,Sage Publications,http://images.amazon.com/images/P/0761913130.0...,8.000000,1
128454,1869584287,Revolution,Marcia Russell,1996,Hodder Moa Beckett,http://images.amazon.com/images/P/1869584287.0...,0.000000,1
128453,0971498814,Corporate Storytelling: Planning and Creating ...,Lecia Vonne Wood,2002,Grendel Press,http://images.amazon.com/images/P/0971498814.0...,8.000000,1
128452,020716374X,Don't you worry about that!: The Joh Bjelke-Pe...,Johannes Bjelke-Petersen,1990,Angus &amp; Robertson,http://images.amazon.com/images/P/020716374X.0...,0.000000,1
236372,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,0.000000,1

In [30]:
books_df.columns

Index(['ISBN', 'Title', 'Author', 'Publication_year', 'Publisher',
       'Book_image', 'Avg_rating', 'Rating_count'],
      dtype='object')

In [34]:
books_df.to_csv(FINAL_DF, index=False)